* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 32px;
}

input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
}

button {
   width:100px; 
   height :40px; 
   background-color : #00a8ff; 
   color : white; 
   border : none; 
   outline : none; 
   cursor : pointer; 
}

input,
button {
 margin-top :10px
}